body{
    overflow-x: hidden;
    width: 100%;
}

#addFilter {
    display: flex;
    gap: 10vh;
}

#addFilter img {

    height: 5vh;
    width: 5vh;
    margin: 1vh;

}
 #TableWrap{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    }

thead th {
    border:none;
    padding: 1vh;
    border-radius: .5vh;
    background-color: rgb(8, 8, 190);
    color: antiquewhite;
}

.detaillogo {
    height: 15px;
    width: 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px grey;
    border-radius: 2vh;
}

/* .DetailList td{
    border: none;
}
.DetailList th{
    border: none;
} */
tbody td {
    margin: 10vh;
    border: 2px solid grey;
    padding: 1vh;
    text-align: center;
    cursor: pointer;
    border-radius: .5vh;
    overflow-x: auto;
    max-width: 65px;
    background-color: rgb(172, 255, 227);
    font-family: 'Times New Roman', Times, serif;
}

table {
    min-width:100px ;
    max-width: 100px;
    position: relative;
    font-size: medium;
    margin-top: 3vh;
}


textarea {
    height: 20vh;
}

select {
    padding: 10px;
}

.buttonName {
    margin-top: 2vh;
}

#TopSection {
    display: flex;
    justify-content: space-between;
    border: none;
    gap: 5vh
}

#addFilter button {
    display: flex;
    padding: 1vh;
    border: none;
    box-shadow: 0px 0px 10px 5px grey;
    border-radius: 7vh;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
}

#clearAll {
    margin-top: 4vh;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    padding: 2px;
    color:#4F4F4F;
    border-bottom: 2px solid #4F4F4F;
}
#clearAll:hover {
color: rgb(0, 0, 0);
border-bottom: 2px solid #000000;
font-weight: bolder;
}

@media screen and (max-width:912px) {
table{
    font-size: smaller;
}    
}

@media screen and (max-width:678px) {
    table {
        position: relative;
        left: 0%;
        width: 100%;
        font-size: small;
        margin:2vh;
        font-size: small;
        display:block
    }
     #TableWrap{
    display: flex;
    justify-content:flex-start;
}
}

@media screen and (max-width:480px) {
    #addFilter button {
        display: block;
        margin-top: 1vh;
    }
     #TableWrap{
    display: flex;
    justify-content:flex-start;
}

    #clearAll {
        font-size: smaller;
        margin: 14px;
    }

    .detaillogo {
        height: 2vh;
        width: 2vh;
        cursor: pointer;
    }

    #addFilter img {
        height: 4vh;
        width: 4vh;
        margin: 1vh;
        background-color:white;
    }

    table {
        font-size: smaller;
        margin: 1vh 0;
        width: 100%;
        display: block;
        position: relative;
        left: 0%;
    }
   

}



