#addFilter {
    display: flex;
    gap: 5vh;
}

#addFilter img {

    height: 5vh;
    width: 5vh;
    margin: 1vh;

}

thead th{
    margin: 5vh;
    border: 3px solid rgb(37, 37, 37);
}

.detaillogo{
    height: 20px;
    width: 20px;
    padding: 10px;
}
/* .DetailList td{
    border: none;
}
.DetailList th{
    border: none;
} */
tbody td{
    margin: 5vh;
     border: 1px solid rgb(37, 37, 37);
     text-align: center;
     cursor: pointer;
}
table{
    max-width:10px;
    margin: 2vh 0;
}
textarea{
    height: 20vh;
}
select{
    padding: 10px;
}
.buttonName{
    margin-top: 2vh;
}
#TopSection{
    display:flex;justify-content:space-between;border:none;gap:5vh
}
#addFilter button {
display: flex;
    padding: 1vh;
    box-shadow: 0px 0px 10px grey;
    border: none;
    border-radius: 1vh;
    backdrop-filter:unset;
    font-weight: 600;
    cursor: pointer; 
}
#clearAll{
    margin-top: 4vh;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    padding: 2px;
    color: blue;
    border-bottom: 2px solid blue;
}


@media screen and (max-width:480px) {
    #addFilter button{
        display: block;
        margin-top: 2vh;
    }
    #clearAll{
    margin-top: 6vh;
    font-size: smaller;
}
.detaillogo{
    height: 3vh;
    width: 3vh;
    cursor: pointer; 
}
#addFilter img {
    height: 3vh;
    width: 3vh;
    margin: 1vh;
}
table{
    font-size: xx-small;
    margin: 2vh 0;
    display: block;
}
    
}
/* @media screen and (max-width:600px) {
    #addFilter button{
        display: block;
        margin-top: 2vh;
    }
    #clearAll{
    margin-top: 6vh;
}
table{
    margin: 0 15%;
    font-size: smaller;
}
thead th{
   padding: 3vh;

}
tbody td{
     padding: 3vh;
}
    
} */